/* --- --- --- GENERAL --- --- --- */

:root {
    /* Variables Paleta de colores */
    --white: #ffffff;
    --info: #707070;
    --darkCoffee: #A38F85;
    --lightCoffee: #CDC6C3;
    --quilaColor: #047F37;
    --lightGray: #dfe9f3;
    --lightGreen: #D1F7E3;
    --darkGreen: #75B490;
    --pureBlack: #333333;
    /* Variables de tamaño de texto */
    --hln1: 80px;
    --hln2: 64px;
    --hln3: 48px;
    --hln4: 34px;
    --hln5: 24px;
    --infoln: 12px;
    /*Variables de fuente*/
    --newsreader: 'Newsreader', serif;
    --roboto: 'Roboto', sans-serif;
}

* {
    font-weight: 400;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Newsreader', serif;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-family: 'Roboto', sans-serif;
}


/* Elementos que mantienen un ancho máximo de 1240px*/

.interior {
    margin: 0 100px;
    max-width: 1240px;
}


/* --- --- --- ENCABEZADO --- --- --- */

header {
    /* Cinta encabezado */
    background-color: var(--lightGreen);
    width: 100%;
    font-family: var(--roboto);
}

header p {
    /* Texto del encabezado */
    color: var(--info);
    margin: 0;
    font-size: var(--infoln);
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
}


/* --- --- --- BARRA DE NAVEGACIÓN --- --- --- */

nav {
    font-family: var(--roboto);
    margin-bottom: 25px;
}


/* --- --- --- BARRA DE NAVEGACIÓN - FILA 1 --- --- --- */

.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-top: 30px;
}

.nav1 div {
    display: inline-block;
    width: 32%;
}

#logo {
    width: 105px;
}

.search-container {
    text-align: center;
}

.search-container form {
    width: 100%;
    max-width: 700px;
    height: 30px;
    background: var(--lightCoffee);
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.search-container input {
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0 10px;
    color: var(--pureBlack);
    font-size: var(--infoln);
}

::placeholder {
    color: var(--pureBlack);
}

.search-container button {
    background-color: #75B490;
    color: var(--lightGray);
    border: 0;
    font-size: 16px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.redes {
    text-align: center;
}

.redes i {
    color: var(--darkGreen);
    font-size: 25px;
    padding: 0 13px;
}


/* --- --- --- BARRA DE NAVEGACIÓN - FILA 2 --- --- --- */

.nav2 {
    width: 100%;
    height: 45px;
    text-align: center;
    margin-top: 60px;
}

.nav2 ul {
    /*Distribución de los elementos de la lista*/
    display: flex;
    justify-content: space-between;
    /*Dimensiones de la caja*/
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
}

.nav2 li {
    display: table;
    /*Dimensiones de la caja*/
    width: 100%;
    max-width: 150px;
    text-align: center;
}

.nav2 li:hover {
    background-color: var(--lightGray);
}

.dropdown-catalogo button:hover {
    color: var(--pureBlack);
    background-color: var(--lightGreen);
    border: none;
}

.nav2 a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    /*Formato del texto de enlace*/
    text-decoration: none;
    font-size: var(--infoln);
}

.dropdown-catalogo {
    background-color: var(--darkGreen);
}

.dropdown-catalogo:hover {
    background-color: red;
}

.dropdown-catalogo button {
    background-color: transparent;
    height: 100%;
    width: 100%;
    border: 0;
    cursor: pointer;
    color: var(--lightGreen);
    padding: 8px 0 2px 0;
}

.dropdown-catalogo i {
    color: var(--pureBlack);
}


/* --- --- --- TÍTULO DE CATEGORÍAS --- --- --- */

.titulo {
    font-family: var(--newsreader);
    font-size: var(--hln5);
    color: var(--darkGreen);
}


/* --- --- --- GRILLA DE CATEGORÍAS --- --- --- */

.grid-categoria {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-gap: 2rem;
    width: 100%;
}

.tarjeta-categoria {
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-color: #a38f8599;
    background-blend-mode: multiply;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.tarjeta-categoria button {
    border-radius: 0;
    border: #ffffff 1px solid;
    color: #ffffff;
    font-size: 100%;
    background-color: transparent;
    height: 20%;
    width: 70%;
    margin: auto;
    cursor: pointer;
}

.tarjeta-categoria button:hover {
    color: var(--pureBlack);
    font-weight: 600;
    background-color: #ffffff99;
    border: none;
}

#ver-todo button {
    height: 40%;
    width: 35%;
}

#ver-todo {
    grid-column: 1 / span 3;
    aspect-ratio: 6/1;
}


/* --- --- --- FOOTER --- --- --- */

#decor {
    display: flex;
    justify-content: center;
    background-color: #75B49099;
}

#pre-footer {
    background-color: #CDC6C399;
    padding: 1px;
}

#pre-footer>.interior {
    display: flex;
    justify-content: space-between;
}

#pre-footer>* {
    color: var(--pureBlack);
}

#info-tienda {
    display: flex;
}

#copyright {
    display: flex;
    justify-content: center;
    color: var(--info);
    font-size: var(--infoln);
}

#footer-rrss {
    background-color: var(--darkCoffee);
    padding: .5rem;
    display: flex;
    justify-content: center;
}

#footer-rrss i {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--lightCoffee);
}


/* --- --- --- MEDIA QUERIES --- --- --- */

@media screen and (min-width:1440px) {
    .interior {
        margin: 0 auto;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:800px) {
    .interior {
        margin: 0 12.5%;
    }
    .grid-categoria {
        grid-template-columns: repeat(2, minmax(50px, 1fr));
    }
    #ver-todo {
        grid-column: 1 / span 2;
        aspect-ratio: 4/1;
    }
}

@media screen and (max-width:600px) {
    .grid-categoria {
        grid-template-columns: 1fr;
    }
    #ver-todo {
        grid-column: span 1;
        aspect-ratio: 2/1;
    }
}